<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'img/favicon.png') }}">

    {% block title %}
    <title>litl.ink | {{ page.title }}</title>
    {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/litlink.css') }}">
    {% if page.styles %}
      {% for style in page.syles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/%s' % style) }}">
      {% endfor %}
    {% endif %}

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% if page.scripts %}
      {% for script in page.scripts %}
        <script src="{{ url_for('static', filename='js/%s' % script) }}"></script>
      {% endfor %}
    {% endif %}
  </head>

  <body>
    <div class="container">
      {% include "header.html" %}

      <div class="inner">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>